<a href="https://colab.research.google.com/github/saraswathykrk/ml_work/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [ ]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [ ]:
# Print “Hello, World!” to console
print("Hello, World!")

Hello, World!

In [ ]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
sharks = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']

# For loop that iterates over sharks list and prints each string item
for i in sharks:
  print(i)

hammer
white
fish
frilled
bullhead
requiem

### 2.Write a Python Program to Add Two Numbers

In [ ]:
# initialise two varaibles
a = 5
b = 6

# Add two numbers
sum = a + b

# Display the sum
print("The sum of a and b is: {}" .format(sum))

The sum of a and b is: 11

### 3.Write a Python Program to Find the product of two numbers

In [ ]:
# initialise two varaibles
a = 4
b = 5

# multiply two numbers
product = a * b

# Display the product
print("The product of 2 numbers, a and b is: {}" .format(product))

The product of 2 numbers, a and b is: 20

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [ ]:
# Area of the triangle A= 1/2(base * height)
h = 3
b = 10

#given height=3 and base =10
area = 1/2 * b * h

print("Area of the triangle is: {}" .format(area))

Area of the triangle is: 15.0

### 5.Python Program to Swap Two Variables

In [ ]:
# initialise two variables
a = 9
b = 12
print("Old a = {} and b = {}" .format(a,b))

# create a temporary variable and swap the values
temp = a
a = b
b = temp

print("After swapping, a = {}, b = {}" .format(a,b))

Old a = 9 and b = 12
After swapping, a = 12, b = 9

## Section

### 1.Write a python program to print datatype of a varaible

In [ ]:
a = 1
print(type(a))

b = 2.0
print(type(b))

c = 1+2j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [ ]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print(a[2])

# Print the first 3 items
print(a[0:3])

# Print the last 3 items
print(a[-3:])

# Start to third last item
print(a[0:-2])

35
[15, 20, 35]
[30, 35, 60]
[15, 20, 35, 40, 45, 30]

### 3.Converting Floats to Integers

In [ ]:
b = 125.0
c = 390.8

# Print the Integer values
print(b, c)
print(int(b), int(c))

125.0 390.8
125 390

### 4.Converting Numbers to Strings

In [ ]:
a = 10

print(a, "is of type", type(a))

# Convert the value in a to a string and then print
print(str(a), "is of type:", type(str(a)))

10 is of type <class 'int'>
10 is of type: <class 'str'>

### 5.Converting Strings to Numbers

In [ ]:
a = "50"
b = "108"

# Find the difference between a and b
c = int(a) - int(b)
print(c)

-58

### 6.Converting list to Tuples

In [ ]:
myList = ['request', 'source', 'repository', 'branch']

# Print myList to a Tuple
print(myList)
myTuple = tuple(myList)
print(myTuple)

['request', 'source', 'repository', 'branch']
('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [ ]:
myTuple = ('blue', 'red', 'white')

# Print myTuple to a List
print(myTuple)
myList = list(myTuple)
print(myList)

('blue', 'red', 'white')
['blue', 'red', 'white']

### 8.converting strings to lists:

In [ ]:
myString = 'INSAID'

# Convert myString to List
print(myString)
myList = list(myString)
print(myList)

INSAID
['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [ ]:
# Try string, float, boolean, list, tuple, dictionary
a = "Hello, python!"
print(a, type(a))
a = 10
print(a, type(a))
a = 189.45
print(a, type(a))
a = None
print(a, type(a))
a = [10, 289.4, "new class", (18,39,50), "abc",['g','f','d'],9,{5:"abc", 8:"def"}]
print(a, type(a))
a = (10, 289.4, "new class", (18,39,50), "abc",['g','f','d'],9,{5:"abc", 8:"def"})
print(a, type(a))
a = {10:289.4, "new class":(18,39,50), "abc":['g','f','d'],9:{5:"abc", 8:"def"}}
print(a, type(a))

Hello, python! <class 'str'>
10 <class 'int'>
189.45 <class 'float'>
None <class 'NoneType'>
[10, 289.4, 'new class', (18, 39, 50), 'abc', ['g', 'f', 'd'], 9, {5: 'abc', 8: 'def'}] <class 'list'>
(10, 289.4, 'new class', (18, 39, 50), 'abc', ['g', 'f', 'd'], 9, {5: 'abc', 8: 'def'}) <class 'tuple'>
{10: 289.4, 'new class': (18, 39, 50), 'abc': ['g', 'f', 'd'], 9: {5: 'abc', 8: 'def'}} <class 'dict'>

## Section

### Print out a string that uses a formatter

In [ ]:
# Print "john has 5 cars." using formatter
print("John has {} cars." .format(5))

John has 5 cars.

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [ ]:
open_string = "john likes {}."

# Use format method to print the following output "john likes open source."
print(open_string.format("open source"))

john likes open source.

### Using Formatters with Multiple Placeholders

In [ ]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."
print(new_open_string.format("open-source", "software"))

john likes open-source software.

In [ ]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."
print(sammy_string.format("open-source","software",5,"balloons"))

john loves open-source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [ ]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))
print("john the {1} has a pet {0}!".format("pilot fish", "shark"))

john the shark has a pet pilot fish!
john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [ ]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))
print("john is a {3}, {0}, and {2} {1}!" .format("smiling","shark","blue","happy"))

john the shark has a pet pilot fish!
john is a happy, smiling, and blue shark!
john is a happy, smiling, and blue shark!

### Python Program to Get String Input from User

In [ ]:
#Enter any string and print it
user_input = input("Enter a string:")
print(user_input)

Enter a string:Hello, how are you?
Hello, how are you?

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [ ]:
# Use only if
grade = 70

if grade >= 65:
  print("Passed")
else:
  print("Failed")

Passed

In [ ]:

grade = 60

if grade >= 65:
  print("Passed")
else:
  print("Failed")

Failed

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [ ]:
# Use if else
balance = 522

if balance < 0:
  print("Less balance")
else:
  print("Enough balance")

Enough balance

### Using Else if statement

In [ ]:
balance = 522

if balance < 0:
  print("Less balance")
elif balance == 0:
  print("Zero balance")
else:
  print("Enough balance")

Enough balance

### Python program to print  Fibonacci series between 0 to 50.

In [ ]:
a = 1
b = 1
print(a, end=' ')
print(b, end=' ')

for i in range(0, 50):
  c = a + b
  if c <= i:
    print(c, end=' ')
    a = b
    b = c


a = 0
b = 1
print("\n********\n")
print(a, end=' ')
print(b, end=' ')
count = 2

for i in range(0, 50):
  count+=1
  if count<=50:
    c = a + b
    print(c, end=' ')
    a = b
    b = c

1 1 2 3 5 8 13 21 34
********

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [ ]:
for i in range(150,271):
  if (i%7) == 0:
    if (i%5) == 0:
      print(i, end=' ')

175 210 245

### Python program to Sum all the items in a list

In [ ]:
def sum_list(items):
  sum=0
  for i in items:
    sum+=i
    # Your code here
  return sum # Your variable
print(sum_list([20,12,20,22]))

74

### Python program to Remove duplicates from a list.

In [ ]:
a = [10,20,30,40,50,60,70,40,80,50,40]

dup_items = set(a)
print(dup_items)
uniq_list = list(dup_items)
print(uniq_list)

{70, 40, 10, 80, 50, 20, 60, 30}
[70, 40, 10, 80, 50, 20, 60, 30]

### Python program to Get the largest number from a list.

In [4]:
def max_num_in_list( list1 ):
    # Your code
    max = list1[0]
    for i in list1:
      if i > max:
        max = i
    return max
    #return max(list1)# Maximum value
print(max_num_in_list([1, 92, 12, 28, 90, 0]))

92

### Concatenation of Tuples.

In [6]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [12]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1,tuple2) # Your code goes here
print(tuple3, type(tuple3))

((0, 1, 2, 3), ('python', 'code')) <class 'tuple'>

### Write a Python program to add an item in a tuple.

In [22]:
# Create a tuple & print
tuple1 = (10, 25.5, "text", "hello world!")
print(tuple1)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuple2 = (45, )
new_tup = tuple1 + tuple2
print(new_tup)

# Adding items in a specific index
tuple3 = tuple1[0:2] + tuple2 + tuple1[2:]
print(tuple3)

(10, 25.5, 'text', 'hello world!')
(10, 25.5, 'text', 'hello world!', 45)
(10, 25.5, 45, 'text', 'hello world!')

### Write a Python program to remove an item from a tuple.

In [ ]:
# Create a tuple and print it

# Find a way to remove an item of the tuple (Hint: Use other data types)

### Python Program to Check if a given key already exists in a dictionary.

In [ ]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  # Your code goes here
  return # Your observation
is_key_present(5)
is_key_present(9)

### Write a Python script to merge two Python dictionaries.

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

# Your code

### Write a Python function to find the Max of three numbers.

In [ ]:
def max_of_two( x, y ):
    # Your code here
    return # Your answer
def max_of_three( x, y, z ):
    # Your code here use max_of_two
    return # Your answer
print(max_of_three(13, 26, -5))

### Write a Python program to reverse a string.

In [ ]:
def string_reverse(str1):
    # Your code goes here
    return # Your answer
print(string_reverse('INSAID'))

### Write a Python function to calculate the factorial of a number

In [ ]:
def factorial(n):
    # Your code here
    return # The answer
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

### Write a Python function to sum all the numbers in a list.

In [ ]:
def sum(numbers):
    # Your code goes here
    return # Your Answer
print(sum((8, 2, 3, 0, 7)))

### Write a Python function to check whether a number is in a given range.

In [ ]:
def test_range(n):
    # Your code
    return # Your answer 
test_range(5)

### Find the value of pi using math module.

In [ ]:
# import statement example
# to import standard module math

import math

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [ ]:
def file_read(fname):
    # Your code goes in here
    return

file_read('test.txt')

### Write a Python program to read a file line by line and store it into a list.

In [ ]:
def file_read(fname):
        # Your code goes in here
        return

file_read('test.txt')

### A python program to create user-defined exception.

In [ ]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

A New Exception occured: 0.42857142857142855

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [ ]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    
    return # The value


discriminant()

The a value: 11
The b value: 111
The c value: 111

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('What am I typing are you able to see?')