In [1]:
from google.colab import files
uploaded = files.upload()
print(uploaded)
filename = next(iter(uploaded))
print(filename)

Saving ExtractedData (1).csv to ExtractedData (1).csv

In [ ]:
 # Google Colab Setup
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os

In [ ]:
os.chdir('/content/drive/My Drive/Analytic-Steps-blogs/YouTube/')

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(filename) #"ExtractedData.csv")
data.head()

                                               title  ... comment
0  Rooftop Terrace Garden Transformation | Terrac...  ...    1255
1  Grow Your Own Food II Container Gardening Idea...  ...     243
2  how  to make a grass bed/flower bed/bed to gro...  ...     440
3  MAKING OF TERRACE GARDEN | Gardening Ideas for...  ...     273
4  आइये छत पर खेत बनाते हैं | Elevated Bed on Ter...  ...     372

[5 rows x 8 columns]

In [4]:
print("total number of videos uploaded on the channel: "+str(data.shape[0]))

total number of videos uploaded on the channel: 71

In [5]:
data['views'].value_counts()

6635     2
7166     1
2718     1
32032    1
92961    1
        ..
26432    1
13758    1
19004    1
698      1
0        1
Name: views, Length: 70, dtype: int64

In [6]:
data['likes'].value_counts()

0      4
7      2
20     2
85     2
84     2
      ..
176    1
70     1
67     1
193    1
63     1
Name: likes, Length: 64, dtype: int64

In [7]:
data['comment'].value_counts()
data['dislikes'].value_counts()

0       10
1        4
8        4
2        3
4        3
24       3
13       3
18       2
93       2
5        2
32       2
11       2
12       2
21       1
20       1
19       1
10       1
17       1
9        1
6        1
3        1
22       1
125      1
248      1
65       1
232      1
611      1
1492     1
211      1
78       1
73       1
66       1
446      1
31       1
57       1
183      1
309      1
49       1
46       1
173      1
172      1
29       1
Name: dislikes, dtype: int64

In [8]:
data['dislikes'].value_counts()

0       10
1        4
8        4
2        3
4        3
24       3
13       3
18       2
93       2
5        2
32       2
11       2
12       2
21       1
20       1
19       1
10       1
17       1
9        1
6        1
3        1
22       1
125      1
248      1
65       1
232      1
611      1
1492     1
211      1
78       1
73       1
66       1
446      1
31       1
57       1
183      1
309      1
49       1
46       1
173      1
172      1
29       1
Name: dislikes, dtype: int64

In [9]:
data['likes'].isnull().value_counts()

False    71
Name: likes, dtype: int64

In [11]:
data.videoIds.isnull().value_counts()

False    71
Name: videoIds, dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              71 non-null     object
 1   videoIds           71 non-null     object
 2   video_description  68 non-null     object
 3   publishedDate      71 non-null     object
 4   likes              71 non-null     int64
 5   dislikes           71 non-null     int64
 6   views              71 non-null     int64
 7   comment            71 non-null     int64
dtypes: int64(4), object(4)
memory usage: 4.6+ KB

In [13]:
data.describe()

              likes     dislikes         views      comment
count     71.000000    71.000000  7.100000e+01    71.000000
mean    1384.535211    75.070423  1.127964e+05    74.366197
std     5858.283405   200.607102  4.004730e+05   169.795612
min        0.000000     0.000000  0.000000e+00     0.000000
25%       62.000000     3.500000  5.001000e+03     6.000000
50%      176.000000    13.000000  1.582000e+04    26.000000
75%      517.500000    53.000000  4.791700e+04    61.000000
max    48261.000000  1492.000000  3.188581e+06  1255.000000

In [14]:
print("Maxium number of likes on videos are ",data['likes'].max())
print("Maxium number of dislikes on videos are ",data['dislikes'].max())
print("Maxium number of view on videos are ",data['views'].max())
print("Maxium number of comments on videos are ",data['comment'].max())

Maxium number of likes on videos are  48261
Maxium number of dislikes on videos are  1492
Maxium number of view on videos are  3188581
Maxium number of comments on videos are  1255

## Sort the videos on the basis of likes i.e. most liked video will appear at last

In [15]:
data_liked = data.sort_values(by = 'likes',axis = 0,ascending = True,ignore_index=True)

In [16]:
data.head()

                                               title  ... comment
0  Rooftop Terrace Garden Transformation | Terrac...  ...    1255
1  Grow Your Own Food II Container Gardening Idea...  ...     243
2  how  to make a grass bed/flower bed/bed to gro...  ...     440
3  MAKING OF TERRACE GARDEN | Gardening Ideas for...  ...     273
4  आइये छत पर खेत बनाते हैं | Elevated Bed on Ter...  ...     372

[5 rows x 8 columns]

In [17]:
data_liked.head()

                                               title  ... comment
0                                                  0  ...       0
1  Government vegetable garden Kit  | மாடித்தோட்ட...  ...      92
2  Hi-tech poultry cage construction and farming ...  ...       6
3  Poultry farming tips for terrace poultry farmi...  ...       6
4  Plastic Bottles into Two Tier Flower Pot For T...  ...       0

[5 rows x 8 columns]

we will now find out the count of unique values of videos i.e. count of likes,dislikes etc. using **value_counts**

In [18]:
data['likes'].value_counts(ascending = True,bins = 10)

(9652.2, 14478.3]      0
(14478.3, 19304.4]     0
(19304.4, 24130.5]     0
(24130.5, 28956.6]     0
(28956.6, 33782.7]     0
(33782.7, 38608.8]     0
(38608.8, 43434.9]     0
(43434.9, 48261.0]     1
(4826.1, 9652.2]       3
(-48.262, 4826.1]     67
Name: likes, dtype: int64

In [19]:
data['dislikes'].value_counts(ascending= True, bins = 10)

(447.6, 596.8]                   0
(746.0, 895.2]                   0
(895.2, 1044.4]                  0
(1044.4, 1193.6]                 0
(1193.6, 1342.8]                 0
(596.8, 746.0]                   1
(1342.8, 1492.0]                 1
(298.4, 447.6]                   2
(149.2, 298.4]                   6
(-1.4929999999999999, 149.2]    61
Name: dislikes, dtype: int64

as from the above cell, it is clear that most of the videos have likes between 0 to 1767 i.e. total 20022 <br>
and the most liked videos are less. Also if go more deeper then it will be clear that only one video have highest likes

In [20]:
data_liked['dislikes'].value_counts()

0       10
1        4
8        4
2        3
4        3
24       3
13       3
18       2
93       2
5        2
32       2
11       2
12       2
21       1
20       1
19       1
10       1
17       1
9        1
6        1
3        1
22       1
125      1
248      1
65       1
232      1
611      1
1492     1
211      1
78       1
73       1
66       1
446      1
31       1
57       1
183      1
309      1
49       1
46       1
173      1
172      1
29       1
Name: dislikes, dtype: int64

From the above, it is clear that only 3 videos are most disliked

In [22]:
data['comment'].max()

1255

In [23]:
data['comment'].value_counts(ascending = True)

127     1
53      1
60      1
49      1
48      1
62      1
46      1
382     1
39      1
36      1
64      1
68      1
26      1
23      1
182     1
22      1
16      1
13      1
12      1
84      1
92      1
1255    1
105     1
243     1
5       1
372     1
3       1
124     1
1       1
440     1
69      2
41      2
47      2
33      2
31      2
273     2
11      2
8       2
51      2
10      3
4       3
2       3
7       4
6       4
0       6
Name: comment, dtype: int64

From the above cell it can be concluded that there is only one video with maxium comments i.e. 199 comments. <br>
apart from this count of videos with no comments are maximum i.e. 8480 videos

## Now we will extract the details of the most liked videos,most comment videos, videos with highest view

In [24]:
most_likedID = data['likes'].idxmax()
most_viewdID = data['views'].idxmax()
most_commentID = data['comment'].idxmax()

In [25]:
data.iloc[most_likedID].head

<bound method NDFrame.head of title                Rooftop Terrace Garden Transformation | Terrac...
videoIds                                                   X0QqhFn8HC8
video_description    Hello Everyone! After a long time, I'm back wi...
publishedDate                                     2020-10-02T15:46:30Z
likes                                                            48261
dislikes                                                          1492
views                                                          3188581
comment                                                           1255
Name: 0, dtype: object>

In [26]:
data.iloc[most_viewdID]

title                Rooftop Terrace Garden Transformation | Terrac...
videoIds                                                   X0QqhFn8HC8
video_description    Hello Everyone! After a long time, I'm back wi...
publishedDate                                     2020-10-02T15:46:30Z
likes                                                            48261
dislikes                                                          1492
views                                                          3188581
comment                                                           1255
Name: 0, dtype: object

In [27]:
data.iloc[most_commentID]

title                Rooftop Terrace Garden Transformation | Terrac...
videoIds                                                   X0QqhFn8HC8
video_description    Hello Everyone! After a long time, I'm back wi...
publishedDate                                     2020-10-02T15:46:30Z
likes                                                            48261
dislikes                                                          1492
views                                                          3188581
comment                                                           1255
Name: 0, dtype: object